site_name: f(x) Protocol SDK Documentation
site_description: Complete documentation for the f(x) Protocol Python SDK
site_author: Christopher Stampar

repo_name: chrisstampar/fx-sdk
repo_url: https://github.com/chrisstampar/fx-sdk
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - Documentation: Documentation.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true

